.popular{
    width: 90vw;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    hr{
        width: 15rem;
        height: 0.35rem;
        background: black;
    }

}
.popular-item{

    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:3rem;
}
@media only screen and (max-width: 350px) 
{
  
  .popular{  
    width: 350px;
  }
}




 
