.sidebar{
    background-color:  rgba(167, 229, 225, 0.422);
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 5rem;
    gap: 50px;
}
.sidebar-item{

    img{
        width: 3rem;
        background-blend-mode: color-burn;
    }
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 737px) {
    .sidebar{
        margin-top: 1rem;
        flex-direction: row;
        min-width: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: wrap;
        height: 1rem;
        padding: 1.5rem;
        border-radius: 2rem;
        
    }
    .sidebar-item{
        img{
            width: 2rem;
        }
    }
    
 }
